[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
social-auth-app-django = "*"
python-dotenv = "*"
python-slugify = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"
